.home-main {
  background-color: red;
  width: 100%;
  height: 550px;
}

.back-gradient {
  background: linear-gradient(to right, #000, rgba(0, 0, 0, 0));
  height: 550px;
  z-index: 1;
}

.img-netflix {
  height: 550px;
}

.section-home {
  top: 20%;
  color: #fff;
  z-index: 2;
}

////////////////////

.section-row {
  margin-top: 10px;
  height: 250px;
}

.article-movies:hover {
  .arrow {
    visibility: visible;
  }
}

#slider {
  transition: all 0.3s;
}

.movies-container {
  overflow-x: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.movie {
  width: 200px;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.img-info {
  position: absolute;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.2s;
  p {
    white-space: wrap;
  }
}

.arrow {
  visibility: hidden;
  opacity: 0.5;
  cursor: pointer;
  z-index: 3;
}

.arrow:hover {
  opacity: 1;
}

.img-info:hover {
  opacity: 1;
}

.icon-heart {
  top: 4px;
  left: 4px;
  cursor: pointer;
}

.play-container {
  position: absolute;
  margin-top: -30px;
  margin-left: 80px;
}

.play {
  width: 30px;
  height: 30px;
  color: #fff;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.play:hover {
  opacity: 0.8;
}
