$color-netflix: #d81f26;
$font-netflix: "Lato", sans-serif;

body {
  margin: 0;
  height: 500px;
  background-color: #121212;
}

button {
  border: none;
  background-color: transparent;
}

figure {
  margin: 0;
}

input {
  border: none;
}
